.debug {
    border: 1px solid black;
}

.boardcell {
    border: 1px dashed  rgb(171, 122, 74);
    margin: 0px;
    padding: 0px;
    display: inline-block;
    width: 1.9rem;
    height: 1.9rem;
    line-height: 1.9rem;
    text-align: center;
    font-family: sans-serif;
    vertical-align: middle;
}

.boardrow {
    margin: 0px;
    padding: 0px;
    line-height: 0px;
}

.board {
    margin: 0px;
    padding: 0px;
}

.coins {
    margin: 0px;
    padding: 0px;
    line-height: 1.3rem;
}

.coin {
    margin: 0px 3px;
    padding: 0px;
    border: 1px solid black;
    border-radius: 50%;
    height: 1.5rem;
    width: 1.5rem;   
    display: inline-block;
}

.coin-filled {
    background-color: gold;
}

.unpainted {
    background-color: rgb(212, 209, 177);
}

.painted {
    background-color: rgb(172, 79, 51);
}

.mountain {
    color:rgb(229, 223, 223);
    background-color: rgb(80, 46, 21);
}
.mountain:before {
    content: "\26F0";
    font-family: serif;
    font-size: 1.2rem;
    text-align: center;
    vertical-align: middle;
}

.ruins {
    color: rgb(72, 71, 63);
    background-color: rgb(212, 209, 177);
    text-shadow: -1px 1px 0 rgb(255, 255, 255);
}
.ruins:before {
    content: "\27E7 \27E6";
    font-family: serif;
    font-size: 1.1rem;
    text-align: center;
    vertical-align: middle;
}

.blocked {
    background-color: rgb(72, 71, 63);
}

.biomeselect {

}

.biome {
    border: 1px solid  rgb(0, 0, 0);
    margin: 0px 8px;
    padding: 0px;
    display: inline-block;
    width: 1.9rem;
    height: 1.9rem;
    line-height: 1.9rem;
}

.forest {
    background-color: rgb(74, 164, 33);
}

.village {
    background-color: rgb(164, 33, 33);
}

.river {
    background-color: rgb(33, 77, 164);
}

.field {
    background-color: rgb(164, 158, 33);
}

.ambush {
    background-color: rgb(133, 33, 164);
}

.season {
    text-align: center;
    padding: 0px;
    margin: 0px;
    line-height: 1.2rem;
}

.scorecard {
    padding: 0px;
    margin: 0px;
    border: 1px solid black;
    border-radius: 12%;
    line-height: 1rem;
}

.scores {
    text-align: left;
    padding: 0px;
    margin: 0px;
}

.score {
    text-align: center;
    padding: 0px;
}

.subscore {
    vertical-align: middle;
    text-align: center;
}
